$primary-color: rgb(24, 28, 35);
@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");

.Nav {
  background: rgba(24, 28, 35, 0.3);
  backdrop-filter: blur(20px);
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 60;
  box-shadow: 6px 6px 19px rgba(24, 28, 35, 0.4);
  img {
    margin-left: 1vw;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 40%;
    margin-right: 4vw;
    height: 100%;
    font-family: "poppins";

    li {
      font-weight: normal;
      height: 100%;
      display: flex;
      align-items: center;
     
    }
  }



}
.FrontImage {
  width: 100%;
  height: 20%;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  margin-top: 0px;

  .img {
    width: 100%;
    height: 200px;
    background: center center;
    background-size: 100%;
    transition: background-size ease-in-out 0.4s;
    &:hover {
      background-size: 103%;
    }
  }
 
}

@media only screen and (max-width:930px) {
  .Nav{
    ul{
      display: none;
    }
   
  }
}